/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

main {
    margin: 20px;
}

#gameCanvas {
    border: 1px solid #ddd;
    background-color: #fff;
}

#gameStatus {
    margin-top: 10px;
}

#controls {
    margin-top: 20px;
}

.direction-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.control-btn {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn:active {
    background-color: #45a049;
}

#control-buttons {
    /* margin-top: 20px; */
    margin-top: 20px;
}

#control-buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

#control-buttons button:active {
    background-color: #45a049;
}

/* Ensure buttons are centered and spaced correctly */
#up {
    /* margin-bottom: 10px; */
}

#down {
    /* margin-top: 10px; */
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: snow;
}